@import "../../../vendor/twitter/bootstrap/less/bootstrap.less";

body {
    padding-top: 60px;
}

/*custom styles*/
.control-group:after {
  clear: none !important;
}

.image-array {
  margin-top: 30px;
}

.image {
  border: 1px solid #000;
  height: 66px;
  margin-left: 8px;
  cursor: pointer;
}

#payment-errors{
  color: red;
}

.ups-options {
  width: 100%;
  height: 200px;
  border: 1px dashed royalblue;
}

.ups-option {
  width: 20%;
  height: 200px;
  background: red;
  display: inline-block;
}

span[id^="tracking_errors"] {
  color: red;
}

a.logout {
  float: right;
  padding: 10px 20px 10px;
  color: #777;
}